.dashboard-container {
  padding: 2rem;
  color: #fff;
  background-color: #8c9cec;
  min-height: 100vh;
}

.dashboard-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.dashboard-grid {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.dashboard-card {
  background-color: #c6c859;
  padding: 1.5rem;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 0 10px rgba(230, 9, 142, 0.3);
  transition: transform 0.3s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card h3 {
  color: #61dafb;
  margin-bottom: 0.5rem;
}
